<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
    <title>FarmEasy</title>
    <link href= "/static/farmeasy/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href= "/static/farmeasy/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href= "/static/farmeasy/css/myStyle.css" rel="stylesheet">
    <link href= "/static/farmeasy/css/bootstrap-social.css" rel="stylesheet">
    <link href="/static/farmeasy/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">

</head>

<body>


  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">

                 <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">FarmEasy</a>
                </div>

                   <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true" ></span> Home</a></li>
                    <li><a href="aboutus.html"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> About</a></li>
                    <li class="dropdown">
                    <li><a href="market.html"><span class="glyphicon glyphicon-list-alt"></span> Market</a></li>
                    <li><a href="contactus.html"><span class="fa fa-envelope-o"></span>Profile</a></li>
                    </ul>
                    <form class="navbar-form navbar-right" role="sign in">
                    <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" name="email">
                    <input type="password" class="form-control" placeholder="Password">
                    <input type="checkbox" name="remember me" class="form-control"> <span class="white">Remember Me</span>
                    <a type="button" class="btn btn-primary" href="#" class="form-control">  Sign In</a>
                    </div>
                  </div>
              </div>
        </nav>

    <header class="jumbotron" class="row-header">

        <!-- Main component for a primary marketing message or call to action -->

        <div class="container">
            <div class="row row-header">
                <div class="col-xs-12 col-sm-6">
                    <h1>Welcome To<br> FarmEasy</h1>
                    <p style="padding:40px;"></p>
                    <p>FarmEasy provides a full solution that operates throughout the entire agro-industry supply chain.<br>
                      <br> A user friendly platform that generates market opportunity for farmers and industry buyers.
                      <br> Unlimited access to a global market from anywhere at anytime.
                      <br>Farmeasy doesn't buy or sell crops and is not a broker , instead we offer you the abilty to effortlessly
                          market your crop via our platform.</p>

                </div>
                <div class="col-xs-12 col-sm-4">
                <p style="padding:20px;"></p>
                <img src="/static/farmeasy/images/logo.jpeg" class="img-responsive">
                </div>
                <div class="col-xs-12 col-sm-2">
                <p style="padding:40px;"></p>
                <a type="button" class="btn btn-success" href="#signup">Join Us</a>
                </div>
            </div>
        </div>
